// ======================== Variables ========================

$color_bk_green_light: #b8e39d;
$color_bk_green_dark: #9dba8b;

// ======================== Mixin ========================

@mixin posKey($left) {
  position: relative;
  top: 0;
  left: $left;
}

// ======================== Piano ========================
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottons {
  width: 70%;
  height: 60px;
  background-color: $color_bk_green_light;
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
}

.keys {
  width: 70%;
  height: 200px;
  padding: 0 5px 0 5px;
  background-color: $color_bk_green_dark;
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
  position: relative;
}

.black-keys {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  .bkey {
    width: 10%;
    height: 100%;
    background: black;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
    display: inline-block;
  }
  .b1 {
    @include posKey(10%);
  }
  .b2 {
    @include posKey(13%);
  }
  .b3 {
    @include posKey(30%);
  }
  .b4 {
    @include posKey(33%);
  }
  .b5 {
    @include posKey(36%);
  }
}

.white-keys {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, auto);
}

.wkey {
  width: 100%;
  height: 180px;
  background-color: white;
  border: 2px solid gray;
  border-block-start: none;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
}

.wkey:hover {
  background: linear-gradient(#d8d8d8, #979797);
  border: 2px solid #a7a7a7;
}

.bkey:hover {
  background: linear-gradient(#414141, #272727);
}
